.gallery-section {
    padding: 2rem 10rem;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 3vh;
  }
  
  .gallery-item {
    position: relative;
    width: 100%;
    min-width: 23vw;
    max-width: 26vw;
    /* min-width: 23vw; */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .gallery-image {
    width: 100%;
    display: block;
  }
  
  .gallery-info {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gallery-info h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .gallery-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #777;
  }
  
  .arrow-button {
    background-color: #F4F0EC;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
  
.gallery-image1{
    border-top-right-radius: 20%;
}

.gallery-image2{
    border-top-left-radius: 20%;
}

.gallery-image3{
    border-bottom-right-radius:20% ;

}

.gallery-image4{
    border-bottom-left-radius:20% ;
}

@media (max-width:700px) {
    .gallery-section{
        padding: 0 0.2rem;
        width: 100%;
    }
    
    .gallery-item {
        width: 100%;
        min-width: 90%;
      }
    
}


  @media (min-width:700px) and (max-width: 830px) {
    .gallery-container {
      flex-direction: column;
      align-items: center;
    }
  
    .gallery-item {
      max-width: 100%;
    }
  }
  